@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.clipbg{
  clip-path: polygon(0 0, 100% 0%, 94% 100%, 0% 100%);
}
.clipborder{
  clip-path: polygon(7% 0, 100% 0%, 100% 100%, 0 100%);
}
.left-shape{
    background-color: #172a39;
    height: 13px;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) skew(-15deg);
}
.slick-dots{
  position: relative !important;
  margin-top: 40px !important;
  bottom: 0 !important;
  background-color: rgba(23,42,57,0.1) !important;
  height: 12px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  max-width: 450px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  border-radius: 20px !important;
}
.slick-dots li{
  background-color: transparent !important;
  flex: 1 !important;
  margin: 0 !important;
}
.slick-dots li button{
  display: none !important;
}
.slick-dots .slick-active{
  width: 100px !important;
  height: 12px !important;
  background-color: #172a39 !important;
  border-radius: 20px !important;

}

